# specify global varibles used for VAF pipeline

# Paths
export path="/nrnb/users/abuckley/GDC/somatic"
export scripts_dir="/cellar/users/abuckley/github_scripts"

# Tools
export samtools="/cellar/users/abuckley/tools/samtools-1.3.1/samtools"

# Files
export ref="/cellar/users/abuckley/ref/hs37d5.fa"
export token_file="/nrnb/users/abuckley/GDC/token/GDC.token"
# specify file with germline variant/sample IDs of interest 
export var_file="/nrnb/users/abuckley/regroup_gvcf/vcf/VQSR5.TS95.nonsyn.05AF.parse.long"

# Variables
# numbr of bp +/- germline variants to pull from somatic BAM files
export padd_amt="100"
